* {
     outline: 0px solid orange;
    color: #2D3047;
}

html {
    background-color: #D8E1E9;
}

h1 {
    font-family: "Courier New";
    font-size: 45px;
}
nav {
    background-color: #B3C5D7;
}

footer {
    background-color: #7392B7;
    height: 350px;
    font-family: "Verdana";
}

.downpaneltitle {
    font-family: "Courier New";
    font-size: 24px;
    color: #131313;
}

.yellowbt {
    font-family: "Verdana";
    font-size: 14px;
}

.navendimg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navel:hover {
    color: #d8d8d8;
}

.navel:active {
    color: white;
}

.conteiner {
    width: 1280px;
    margin: auto;
    padding: 0px;
}

.upperspace {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    flex-direction: row;
    background-color: #C5D5EA;
}

.upsptx {
    width: 440px;
}

.upsptxp {
    font-family: "Verdana";
    font-size: 14px;
    margin-top: 45px;
}

.midlepanel {
    height: 328px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #7392B7;
    font-family: "Verdana";
    font-size: 14px;
}

.midpanelelement {
    width: 180px;
    padding: 0px;
    margin: 40px;
    font-family: "Verdana";
    font-size: 14px;
}

.downpanel {
    background-color: #ffffff;
    padding: 40px;
    list-style: none;
    font-family: "Verdana";
    font-size: 14px;

}

.downpanelup {
    display: flex;
}

.downpaneldown {
    display: flex;
    flex-direction: row;
}

.downlist {
    padding-top: 30px;
}

.downlist li::before {
    content: "•";
    width: 1px;
    height: 1px;
    position: relative;
    left: -10px;
    top: 0px;
    color: orange;
    border-radius: 1px;
}

.JIyHA {
    width: 438px;
    height: 438px;
}

.footer-left {
    width: 180px;
    height: 350px;
    margin: 40px;
}

.footer-right {
    width: 180px;
    height: 350px;
    margin: 40px;
}

.footer-submenu {
    font-size: 13px;
    list-style: none;
}

.footer-subel {
    padding-top: 30px;
}

.footer-subel:hover {
    color: #d8d8d8;
}

.footer-subel:active {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.copyrights {
    margin-top: 110px;
}
